.hamburger {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 2.25rem;
    height: 2.25rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    transform: scale(.75);
}

.hamburger-line-1 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: .5rem;
    border-radius: 5px;
}

.hamburger-line-2 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: .5rem;
    border-radius: 5px;
}

.hamburger-line-3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: .5rem;
    border-radius: 5px;
}

@media only screen and (min-width: 350px) {
    .hamburger {
        display: flex;
    }
}

@media only screen and (min-width: 1100px) {
    .hamburger {
        display: none
    }
}
